<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.languageLearning">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SelectEssayReviewerActivity"></activity>
        <activity android:name=".SearchResultActivity"></activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".ExerciseResultOverviewActivity" />
        <activity android:name=".ChatNewMessageActivity"></activity>
        <activity android:name=".ImageEssayDetailTestActivity" android:exported="true"/>
        <activity android:name=".ListEssaysTestActivity"/>
        <activity android:name=".ListEssaysActivity" />
        <activity
            android:name=".TextEssayDetailTestActivity"
            android:exported="true" />
        <activity android:name=".TextEssayDetailActivity" />
        <activity android:name=".ImageEssayDetailActivity" />
        <activity android:name=".UploadEssayActivity" />
        <activity android:name=".WriteNewEssayActivity" />
        <activity android:name=".NewEssayActivity" />
        <activity android:name=".BridgeActivity" />
        <activity android:name=".ProfilePageActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".ProfResultActivity" />
        <activity
            android:name=".ProfExamActivity"
            android:exported="true" />
        <activity android:name=".ExerciseActivity" />
        <activity
            android:name=".ExerciseActivityTestActivity"
            android:exported="true" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>