language: python

branches:
  except:
  - frontend

# safelist
branches:
  only:
  - backend

python: 
  - "3.6"

env:
  global: 
    - SECRET_KEY=$SECRET_KEY

services:
  - docker

before_install:
  - cd backend

before_script: 
  - pip install docker-compose

script: 
  - docker-compose run web sh -c "python manage.py makemigrations"
  - docker-compose run web sh -c "python manage.py migrate"
  - docker-compose run web sh -c "python manage.py test"